@import "../../_mixins";
.BodyDiv {
    width: 86%;
    @include paddingStyle($left: 7%, $right: 7%, $bottom: 10vh)
}

.BodyContent {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.HeaderText{
    @include fontStyle($fontSize: 7vh, $fontWeight: normal);
    margin-top: 12vh;
    margin-bottom: 4vh;
    text-decoration: underline;
    text-align: center
}
.MiddleBox{
    margin-left: 2vh;
    margin-right: 2vh;
}
.SubHeaderText{
    @include fontStyle($fontSize: 4.8vh, $color: #faed26);
    margin-bottom: 2vh;
}

.BodyText {
    @include fontStyle($fontSize:3vh, $lineHeight:7.5vh, $letterSpacing: 0.1vh);
}

.ImagesDiv{
    @include flexStyle();
    flex-direction: column;
    align-items: center;
}

.ProfilePicture{
    @include circularImageStyle($radius: 30vw);
    float: right;
}




.AboutMeSubSection {
    @include flexStyle();
    align-items: center;
}

.Question {
    color: #faed26;
    margin: 0 
}

.Answer{
    margin-top: 0vh;
    width: 75%;
    margin-bottom: 3vh 
}

.AboutImages{
    @include circularImageStyle($radius: 17vw, $float: right)
}

.Table{
    width: 50%;
    @include paddingStyle($top: 5vh);
    font-family: Arial;
}