@import "../../_mixins";
.BodyDiv {
    width: 86%;
    @include paddingStyle($left: 7%, $right: 7%, $bottom: 10vh)
}


.BodyText {
    @include fontStyle($fontSize:3vh, $lineHeight:5vh);
    margin-bottom: 0vh;
}

.IntroText{
    @extend .BodyText;
    @include paddingStyle($top: 10vh, $right: 3vw, $left: 3vw);
    text-align: center;
}

.HeaderText{
    @include fontStyle($fontSize: 6.8vh, $fontWeight: normal, $color: #faed26 );
    margin-top: 7vh;
    margin-bottom: 5vh;
    text-align: center
}

.BodyContent {
    @include flexStyle();
    margin-bottom: 7.5vh;
}

.BodyContent2{
    @extend .BodyContent;
    width: 75%;
    @include paddingStyle($left: 12.5%, $right: 12.5%)
}

.MiddleBox{
    margin-left: 2vw;
    margin-right: 2vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center 
}
.SubHeaderText{
    @include fontStyle($fontSize: 4.8vh, $color: #faed26);
    margin-bottom: 0vh;
    margin-top: 2vh;
}

.MiniHeaderText{
    @include fontStyle($fontSize: 2.2vh,  $lineHeight: 3.2vh);
    margin-bottom: 1vh;
}

.ViewProjectText{
    @extend .MiniHeaderText;
    color: #faed26;
}

.Image{
    @include circularImageStyle($radius: 15vw);
    margin-bottom: 3vh;
}

.ImageHeaderDiv{
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center
}